# This is Git's per-user configuration file.
[user]
name = Leon Matthes
email = leon@matthes.biz
[core]
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[pull]
	rebase = false
