# This is Git's per-user configuration file.
[user]
	name = Leon Matthes
	email = leon@matthes.biz
[core]
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main

# Add the following to your .gitconfig file.
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"

# Add the following to your .gitconfig file.
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[mergetool]
	keepBackup = false

[interactive]
	diffFilter = delta --color-only

[include]
	path = ~/.config/delta/catppuccin.gitconfig
[delta]
	navigate = true    # use n and N to move between diff sections
	line-numbers = true
	features = "catppuccin-macchiato"

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
[alias]
	push-force = push --force-with-lease --force-if-includes
