# This is Git's per-user configuration file.
[user]
	name = Leon Matthes
	email = leon@matthes.biz
[core]
	editor = nvim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[pull]
	rebase = false
[init]
	defaultBranch = main

# Add the following to your .gitconfig file.
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"

# Add the following to your .gitconfig file.
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[mergetool]
	keepBackup = false
